/* Variables*/
:root {
    --basic-black:#000000;
    --basic-white:#ffffff;
    color: #333333;
    color: #23A9E1;
    color: #81B3D3;
    color: #DC6243;
    color: #333333;
    color: #81b3d2;
    color: #EEEEEE;
    color: #766357;
    color: #231F20;
    color: #F4B1A4;
    color: #491213;
}

.page-body {
    min-width: 1200px;
    padding: 0;
    margin: 0;
    font-family: PT sans;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    background-color: #ffffff;
    background-image: url("../img/mountain-view.jpg");
    text-transform: uppercase;
    background-position: top center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.main-navigation{
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}
.site-navigation{
    list-style: none;
}